.hero-bg{
    background-image: url("./images/m2.png");  
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 90vh;
    width: 100vw; 
    background-color: black;    
  }
  .logosvg {
    width: 170px;
  }
  .register{
    text-decoration:none;   
    background: linear-gradient(90deg, #13b89b 0%, #29abe2 100%);
    padding:7px 13px;
    border: none;
    border-radius: 2px;
}
.register:hover {
    background: transparent;
    border: 1px solid #29abe2;
    color: #fff;
}
.login{
    text-decoration:none;
    padding:7px 13px;
    border: none;
    border-radius: 2px;
    color:rgb(50, 173, 200);
    background: white;
}
.login:hover {
    background: transparent;
    border: 1px solid #29abe2;
    color: #fff;
}
.join-forfree{
    text-decoration:none;   
    background: linear-gradient(90deg, #13b89b 0%, #29abe2 100%);
    padding:7px 13px;
    border: none;
    border-radius: 2px;
    color: #fff;
}
.join-forfree:hover {
    background: transparent;
    border: 1px solid #29abe2;
    color: #29abe2;
}
.height {
    height:100vh
}
.span-color {
    color:rgb(50, 173, 200);
}
.h1-font-weight {  
    font-weight: 400;
}
.font-weight-color {
    font-weight: 200;
    color: grey;
}
.join-for-free {    
    background: linear-gradient(90deg, #13b89b 0%, #29abe2 100%);
    padding:10px;
    border: none;
    border-radius: 2px;
    font-size: 12px;    
}
.enroll-now {
    background: linear-gradient(90deg, #13b89b 0%, #29abe2 100%);
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    
}
.box-shadow {
    box-shadow: 1px 29px 27px rgba(27, 27, 27, 0.25);
}
.max-width {
    width: 1300px;
}
table td:first-child, table th:first-child {
    background: white;
    border-radius: 0 0 0 0;
    border-right: 5px solid white;
    box-shadow: 1px 29px 27px hsl(0deg 0% 55% / 25%);
}

.p-textcolor{
    color: grey;
    font-weight: 300;
    font-size: 16px;    
}
.imgwidth {
    width: 80px;
}
.bgimage {
   background-image: url("./images/support-cloud.png");
}

.width {
    width: 50%;
}
.greencard {
    background-color:rgb(27, 198, 146);
    border-radius: 10px;

}
.enroll-now-title{
    font-size: 24px;
    font-weight: 200;   
}
.enroll-now-title-bold{
    font-weight: 700;
    
}
.button-body {
    background: white;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 3px;
    color: rgb(27, 198, 146);
    font-size: 16px;   
    font-weight: 500;
    padding: 15px;
}
.font-size-nomarkups{
    font-size: 24px;
}
.bg-notsure-img {
    background-image: url("./images/fly_img_bg.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    
}
.notesure-text {
   font-weight: 200;
}
.bg-grey {
    background: rgb(226, 223, 223);
}
.bg-color {
    background-color: #32acc8;;
}
.left-bg-img {
    background-image: url("./images/reach-us-bg.png");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 50%;
}
.font-size-reachus{
    font-size: 36px;
    font-weight: 200;
}
.fs-usuk {
    font-size: 14px;
}
.form-control {
    border:none;
    border-bottom: 1px solid #ced4da;
}
.submit-in-btn {
    text-decoration:none; 
    background: linear-gradient(90deg, #13b89b 0%, #29abe2 100%);
    padding:10px 15px;
    border: none;
    border-radius: 2px;
    width: 220px;
}
.footer-list {
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
    text-decoration: none;
color: white;

}
.footer-list a {
    
   text-decoration: none;
    color: white;
    
}
.footer-social {   
  display: flex;
  list-style: none;
  padding-left: 0;
}
.fa {
    display: inline-block;
    font: 16px/1 FontAwesome;
    font-size: 20px;
}
.argus {
    width: 110px;
}
.wyvern {
    width: 110px;
}
.rightreservedborder {
    border-top: 1px solid #3c3c3c;
    padding-top: 20px;
}
.cd-image-container {
    margin: 0 auto;
    position: relative;
    width: 80%;
  }

  .cd-image-container img {
    display: block;
  }

  .is-visible .cd-resize-img {
    -webkit-animation: cd-bounce-in .7s;
    animation: cd-bounce-in .7s;
    border-right: 10px solid;
    width: 50%;
  }

  .cd-resize-img,
  .cd-resize-img img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  .cd-resize-img {
    backface-visibility: hidden;
    overflow: hidden;
    transform: translateZ(0);
    width: 0;
  }

  .is-visible .cd-handle {
    opacity: 1;
    transform: translateZ(0) scale(1);
    transition: transform .3s .7s, opacity 0s .7s;
  }

  .cd-resize-img img {
    display: block;
    max-width: none;
    width: auto;
  }
  .cd-handle {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    cursor: move;
    height: 62px;
    left: 50%;
    margin-left: -35px;
    margin-top: -22px;
    padding: 16px 20px;
    position: absolute;
    top: 50%;

  }

  .img-comp-drag-text {
    color: #32acc8;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
 
.dropdown-item:focus, .dropdown-item:hover {
    color: #29abe2 !important;
    background-color: transparent;
}
a:hover {
    color: #29abe2 !important;
}
.container-border {
    border-radius: 15px;
}
.border-radius {
border-radius: 15px 0 0 15px;
}
@media screen and (min-width: 992px) {
header.navbar-sticky .navbar-expand-lg {
    height: 52px;
}
}

@media screen and (max-width: 992px){
    .width {
        width:100%
    }
}
@media screen and (min-width: 769px){
    .width {
        width: 50%
    }

}
 @media screen and (min-width: 992px){
    .project:nth-child(8n+1), .project:nth-child(8n+3), .project:nth-child(8n+6), .project:nth-child(8n+8){
        background: #fff;
        
    } 
  } 
  @media screen and (min-width: 576px) and (max-width: 991px) {
      .project:nth-child(8n+1), .project:nth-child(8n+4), .project:nth-child(8n+5), .project:nth-child(8n+8) {
      background: #fff;
      
  }
  }
  @media screen and (max-width: 575px) {
      .project:nth-child(8n+1), .project:nth-child(8n+3), .project:nth-child(8n+5), .project:nth-child(8n+7) {
      background: #fff;
     
  }
} 
@media screen and (max-width: 575px) {
.argus {
    width: 20px;
}

}
@media screen and (max-width: 575px) {
    .wyvern {
        width: 20px;
    }    
    }
    @media screen and (max-width: 575px){
        .enroll-now-title {
            text-align: center;
        }
        .aligncenter {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .btn-center {
            display: block;
            justify-content: center;
            align-items: center;
        }
    }

